.videoCard{
    color: white;
    width: 380px;
    height: 400px;
    padding: 20px;
    transition: transform 100ms;
}
.videoCard:hover{
    transform: scale(1.09);
}

.videoCard_stats{
    display: none;
}
.videoCard:hover > .videoCard_stats{
    display: inline;
}

.videoCard > img{
    height: 300px;
    object-fit: contain;
    width: 370px;
}
.videoCard > h2{
    padding-top: 10px;
}